In [27]:
import pandas as pd

In [28]:
df = pd.read_csv('/content/poi_data_klid_202004.tsv', sep='\t')

In [29]:
import plotly.express as px

In [30]:
df.poi_status.value_counts().to_frame().reset_index()

   index  poi_status
0    ETC       38653
1    USE       30219
2  CLOSE         146

In [31]:
px.pie(df.poi_status.value_counts().to_frame().reset_index(), names='index', values="poi_status")

# 차트 테스트

In [33]:
df

           pid poi_name  ...  del_dt  phone_number
0      3095171      우리전  ...     NaN   031 2297181
1      3095172     다원분식  ...     NaN   031 2258110
2      3095173      맛드림  ...     NaN   031 2250827
3      3095174      솔방울  ...     NaN           NaN
4      3095175     잔치마당  ...     NaN   031 2373558
...        ...      ...  ...     ...           ...
69013  3164313     88상회  ...     NaN   06102714088
69014  3164315     영복상회  ...     NaN   061 2750939
69015  3164317     우리상회  ...     NaN   06102710004
69016  3164319     보라민박  ...     NaN   061 2620566
69017  3164321     일중슈퍼  ...     NaN           NaN

[69018 rows x 15 columns]

In [36]:
df.jibun_address.str.partition(sep='번지')

                            0   1             2
0      경기도 수원시 팔달구 인계동 1125-1  번지         외 1필지
1       경기도 수원시 팔달구 매교동 258-1  번지
2      경기도 수원시 팔달구 인계동 1134-9  번지   트윈파크비동 104호
3      경기도 수원시 팔달구 우만동 484-17  번지
4      경기도 수원시 팔달구 인계동 981-14  번지
...                       ...  ..           ...
69013     전라남도 신안군 암태면 단고리 89  번지            1호
69014   전라남도 신안군 흑산면 영산리 110호
69015     전라남도 신안군 암태면 단고리 92  번지         10  호
69016     전라남도 신안군 임자면 광산리 87  번지          8  호
69017   전라남도 신안군 압해읍 송공리 381호

[69018 rows x 3 columns]